@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-teal-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

button {
  @apply px-4 py-1 rounded inline-block
    bg-teal-600 text-white cursor-pointer
    hover:bg-teal-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

/* home page*/
  .links-list{
    align-items: stretch;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .link-template{
    text-align: -webkit-center;
  }